body {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: #072b73;
  height: 4rem;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
}

.nav-link {
  color: #fff;
  font-weight: 500;
}

.navbar .nav-item a:hover,
.navbar .navbar-brand {
  color: #fff;
  font-weight: 600;
}

.container {
  padding-top: 4rem;
  background-color: #eee;
}

.atual {
  font-weight: 600;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo_descricao {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  margin: 20px 0 20px 0;
}

.img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.descricao {
  padding: 20px 160px 20px 160px;
  line-height: 24px;
}

.buscas {
  display: flex;
  justify-content: space-evenly;
  height: 695px; /*provisório*/
}

.line {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
}

.tituloSecao {
  font-weight: 600;
  text-align: center;
}

.buscar {
  text-align: center;
  background-color: #072b73;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
}

.inputsBusca {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.date {
  text-align: center;
  background-color: #6387a6;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.tableBuscas{
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.td{
  text-align: right;
}

.th{
  font-weight: 600;
}

.tabelas {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-weight: 600;
  height: 695px; /*provisório*/
}

.cadastrar {
  display: flex;
  justify-content: center;
  height: 695px; /*provisório*/
}

.cadastro {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 40px;
}

.cadastroTA {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.botaoCadastro {
  text-align: center;
  background-color: #072b73;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  align-self: center;
}

.botoesFooter {
  align-self: flex-end;
}

.botaoEnviar, .botaoProcurar, .botaoCadastrar {
  text-align: center;
  background-color: #072b73;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
}

.botaoCancelar {
  text-align: center;
  background-color: #6387a6;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
}

.botoesLogin {
  display: flex;
}

.inputsCadastrar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.labelCadastro {
  font-size: 14px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login {
  display: flex;
  justify-content: center;
  height: 695px; /*provisório*/
}

.containerLogin {
  padding-top: 4rem;
  background-color: rgba(0, 0, 0, 0.85);
}

.modalLogin {
  margin-top: 3%;
  width: 399.67px;
  height: 560px;
  background-color: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.tituloLogin {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.inputLogin {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 40px;
}

.administrador {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  height: 695px; /*provisório*/
}

.tituloADM {
  font-weight: 600;
  align-self: center;
  font-size: 20px;
}

.topicoADM {
  font-weight: 600;
}

.divDate {
  display: flex;
  align-items: center;
}

.inputsTemp {
  display: flex;
}

.temp {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.inputTemp {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 40px;
  width: 80px;
  text-align: right;
}

.inputProcurar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 40px;
  width: 350px;
}

.procurar{
  display: flex;
}

.manual,
.csv {
  display: flex;
  flex-direction: column;
}

.botaoHeader{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.botaoSair{
  text-align: center;
  background-color: #072b73;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.botoesADM{
  align-self: flex-end;
}
